#email-input {
  margin-bottom: 50px;
}

hr {
  background-color: #c9c9c9;
  width: 100%;
  margin-bottom: 45px;
  margin-top: 0;
}

.password-input {
  margin-bottom: 45px;
}

#logout-button {
  width: 100%;
}
